<div class="dem" >
<iframe 
width="560" 
height="315" 
src="https://www.youtube.com/embed/iZ1mlcCkY8A" 
title="YouTube video player" 
frameborder="0" 
allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="med">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Description about Angular
            </mat-panel-title>
            <mat-panel-description>Click To know more </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Angular is a development platform that aims to make web development feel effortless, focused on developer productivity, speed and testability. Applications built with Angular can be deployed to mobile devices and desktops as websites and native applications.</p>
    </mat-expansion-panel>

</div>
   
