iframe{
    display:flex;
    justify-content:center ;
   

}
.dem{
    display: flex;  
    justify-content: center;
}
.med{
    width: 600px;
    display: flex;
    margin: 1%;
   
   margin-left: 30.5%;
}